.Contanier {
  border: 10px solid blue;
  width: 1200px;
  height: 1200px;
  margin: auto;

  display: grid;

  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;
  

  grid-template-columns: repeat(4,auto);



}

.Box {
  width: 150px;
  height: 150px;
  margin: 20px;
  background-color: red;

  font-size: 4em;
  text-align: center;
  

  justify-content: center;
  

  display: inline-block;
  
}

#Generate{
  width: 150px;
  height: 150px;

}